.product-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.product-card {
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
  width: 300px;
}

.product-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.product-info {
  padding: 15px;
}

.product-name {
  font-size: 1.5em;
  margin-bottom: 5px;
}

.product-price {
  font-weight: bold;
  color: green;
}

.button-cart {
  background-color: #F5C076;
  /* background-color: #76F59A;  */
  /* background-color: #f9f9f9; */
  color: #050103;
}

.product-recipe {
  text-align: left;
  padding: 15px;
}
